Source: dillo
Section: web
Priority: extra
Maintainer: Axel Beckert <abe@debian.org>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5), libfltk1.3-dev, libglib1.2-dev, libpng12-dev, zlib1g-dev, libjpeg8-dev | libjpeg-dev, automake | automaken, autoconf, autotools-dev, libxft-dev, libssl-dev, sharutils
Homepage: http://www.dillo.org

Package: dillo
Architecture: any
Depends: ${shlibs:Depends}, wget
Replaces: gzilla
Conflicts: gzilla
Provides: www-browser
Description: Small and fast web browser
 Dillo aims to be a multiplatform browser alternative that is small,
 stable, developer-friendly, usable, very fast, and extensible.
