Source: dillo
Section: web
Priority: extra
Maintainer: Axel Beckert <abe@debian.org>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5), libfltk1.3-dev, libglib2.0-dev, libpng12-dev, zlib1g-dev, libjpeg8-dev | libjpeg-dev, automake | automaken, autoconf, autotools-dev, libssl-dev, sharutils, quilt
Homepage: http://www.dillo.org/
Vcs-Git: git://anonscm.debian.org/collab-maint/dillo.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/dillo.git

Package: dillo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, wget
Provides: www-browser
Description: Small and fast web browser
 Dillo aims to be a multiplatform browser alternative that is small,
 stable, developer-friendly, usable, very fast, and extensible.
