#!/usr/bin/make -f

#export DH_VERBOSE=1

# Needed until the next Dillo release (i.e. Dillo > 3.0.3)
export DEB_LDFLAGS_MAINT_APPEND=-lX11

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --enable-ipv6 --enable-ssl
