#!/usr/bin/make -f

#export DH_VERBOSE=1

configure: config.status
config.h.in.backup:
	[ -f config.h.in.backup ] || cp -pv config.h.in config.h.in.backup
config.status: config.h.in.backup
	dh_testdir
	dh_autotools-dev_updateconfig
	dh_auto_configure -- --enable-ipv6 --enable-ssl

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp: config.status
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	dh_auto_clean
	[ ! -f config.h.in.backup ] || mv -v config.h.in.backup config.h.in
	dh_autotools-dev_restoreconfig
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_auto_install

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installman doc/dillo.1
	dh_install
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
